html{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.info{
    color: brown;
}

#special{
    font-size: larger;
}